@charset "UTF-8";
.header {
  width: 1440px;
  padding-right: 65px;
  padding-left: 65px;
  margin: 0 auto;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header__toggle, .header__line {
  display: none; }

.header__background {
  width: 51vw;
  position: absolute;
  top: 0;
  left: 49%;
  height: 837px;
  background-color: #4D73BD;
  z-index: -1; }

@media (max-width: 1374px) {
  .header__background {
    width: 740px;
    left: 700px; } }

.header__site-nav {
  width: 620px; }

.header__site-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
  margin-left: 150px;
  margin-top: -40px;
  margin-bottom: 23px; }

.header__logo-line {
  width: 107px;
  height: 4px;
  background-color: #4D73BD; }

.header__logo-text {
  font-size: 45px;
  font-weight: 300;
  line-height: 53px; }

.header__link {
  text-decoration: none;
  color: #313131;
  font-size: 20px;
  line-height: 20px; }

.header__contacts {
  width: 300px;
  display: flex;
  justify-content: space-between; }

.header__telephone, .header__work-time {
  font-size: 20px;
  line-height: 20px;
  color: #F3F2F2; }

.header__menu-nav {
  list-style: none;
  display: flex;
  padding-top: 6px;
  width: 180px;
  justify-content: space-between; }

.header__basket-item {
  display: flex; }
  .header__basket-item :nth-child(2) {
    margin-top: 20px;
    margin-left: -13px; }

.header__basket-active {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  text-align: center;
  background-color: #FFB800; }

@media (max-width: 768px) {
  .header {
    width: 100%;
    padding: 0px;
    display: block; }
  .header__site-nav {
    width: 100%; }
  .header__item, .header__contacts {
    display: none; }
  .header__line {
    display: block;
    width: 100%;
    height: 1px;
    border: none;
    background-color: #cbcbcb; }
  .header__toggle {
    right: calc(50vw - 160px);
    background-color: #E5E5E5;
    display: block;
    width: 70px;
    height: 48px;
    border: none;
    position: absolute;
    top: 15px;
    padding-left: 18px;
    cursor: pointer; }
    .header__toggle:active span {
      opacity: 0.3; }
  .header__logo-text {
    font-size: 30px;
    line-height: 40px;
    margin-left: calc(50vw - 150px); }
  .header__logo-line {
    width: 72px;
    margin-left: calc(50vw - 150px); }
  .header__site-list {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 250px;
    margin: 0 auto;
    margin-top: 30px; }
  .toggle__line {
    display: block;
    position: absolute;
    width: 36px;
    height: 2px;
    transition: .3s all linear;
    background-color: #4D73BD; }
  .toggle__line_first {
    top: 15px; }
  .toggle__line_third {
    bottom: 13px; }
  .toggle_active .toggle__line_second {
    transform: translateX(18px) rotateZ(315deg);
    width: 0px;
    opacity: 0; }
  .toggle_active .toggle__line_first {
    width: 34px;
    transform: translateY(9px) rotate(45deg); }
  .toggle_active .toggle__line_third {
    width: 34px;
    transform: translateY(-9px) rotate(-45deg); }
  .header__menu-nav {
    width: 130px;
    position: absolute;
    top: 20px;
    left: calc(50vw - 60px); }
  .header__search-icon {
    width: 26px;
    height: 26px; }
  .header__login-icon {
    width: 30px;
    height: 30px; }
  .header__basket-icon {
    width: 25px;
    height: 25px; }
  .header__basket-active {
    width: 15px;
    height: 15px;
    font-size: 12px; }
  .header__background {
    display: none; } }

.main__header {
  width: 1440px;
  padding-right: 65px;
  padding-left: 65px;
  margin: 0 auto;
  margin-top: 105px;
  display: flex;
  justify-content: space-between; }

.main__h1 {
  font-size: 60px;
  line-height: 70px;
  margin: 0 0 55px 0;
  font-weight: 500; }

.main__h2 {
  font-size: 30px;
  color: #4D73BD;
  line-height: 30px;
  margin-bottom: 50px; }

.main__button-link {
  padding: 10px 62px 10px 62px;
  background-color: #4D73BD;
  text-decoration: none;
  font-size: 25px;
  line-height: 29px;
  color: #F0EDED; }

.main__second-column {
  width: 550px; }

.main__text, .main__text--bold {
  font-size: 25px;
  line-height: 29px;
  color: #F1F1F1; }

.main__text--bold {
  font-weight: 500; }

.main__price {
  font-size: 30px;
  line-height: 35px;
  margin-top: 115px;
  color: #F1F1F1;
  margin-bottom: 10px; }

.main__makita25 {
  position: absolute;
  top: 160px;
  left: calc(50vw + 280px); }

@media (max-width: 1440px) {
  .main__makita25 {
    left: 1005px; } }

.main__link {
  color: #F1F1F1;
  font-size: 20px; }

.form__radio {
  z-index: 20;
  width: 75px;
  margin-top: 90px;
  margin-left: 80px;
  display: flex;
  justify-content: space-between; }

.custom-radio {
  position: absolute;
  z-index: 2;
  opacity: 0; }

.custom-radio + label {
  display: inline-flex;
  align-items: center;
  user-select: none; }

.custom-radio + label::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #F1F1F1;
  border-radius: 50%;
  margin-right: 17px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: .2s all ease-out;
  background-size: 50% 50%; }

.custom-radio:not(:disabled) + label:hover::before {
  border-color: #F1F1F1; }

.custom-radio:focus:not(:checked) + label::before {
  border-color: #F1F1F1; }

.custom-radio:checked + label::before {
  background-color: #F1F1F1; }

.main__button-wrapper--mobile {
  display: none; }

@media (max-width: 768px) {
  .main__header {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr; }
  .main__button-link, .main__link {
    display: none; }
  .main__first-column {
    text-align: center; }
  .main__h1 {
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 30px; }
  .main__h2 {
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 20px; }
  .main__second-column {
    width: 100%;
    height: 430px;
    padding-top: 20px;
    background-color: #4D73BD; }
  .main__text, .main__text--bold, .main__price {
    position: relative;
    z-index: 2;
    text-align: center;
    font-size: 24px;
    line-height: 27px; }
  .main__price {
    margin-top: 290px; }
  .main__makita25 {
    margin-top: -350px;
    z-index: 1;
    margin-left: calc(50vw - 125px);
    padding-top: 20px;
    position: relative;
    left: 0;
    top: 0;
    background-color: #4D73BD;
    margin-bottom: 5px; }
  .main__makita25--img {
    width: 250px; }
  .form__radio {
    position: relative;
    width: 90px;
    margin: 0 auto;
    margin-top: 20px;
    z-index: 10; }
  .main__button-wrapper--mobile {
    display: block;
    height: 180px;
    background-color: #4D73BD; }
  .main__button-link--mobile {
    display: block;
    width: 50%;
    min-width: 180px;
    max-width: 280px;
    margin: 0 auto;
    padding: 0px;
    height: 50px;
    padding-top: 8px;
    color: #E5E5E5;
    background-color: #4D73BD;
    border: 1px solid #E5E5E5;
    margin-top: 100px;
    text-align: center; } }

.nav-list__wrapper {
  width: 1440px;
  padding-right: 65px;
  padding-left: 65px;
  margin: 0 auto; }

.main__nav-item {
  font-size: 18px;
  text-align: center;
  border-right: 0.5px solid #4D73BD; }

.main__nav-list {
  display: grid;
  width: 1155px;
  height: 231px;
  background: #EFF2F1;
  box-shadow: 0px 4px 20px rgba(77, 115, 189, 0.6);
  margin: 0 auto;
  margin-top: 150px;
  list-style: none;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; }

.main__nav-list :last-child {
  border: none;
  padding-top: 2px; }

.item-button__line {
  width: 25px;
  height: 3px;
  background-color: #4D73BD;
  display: block; }

.item-button--first-line {
  transform: translateX(11px) translateY(16px) rotate(-45deg); }

.item-button--second-line {
  transform: translateX(-5px) translateY(13px) rotate(45deg); }

.nav-item__img--first {
  margin-top: 8px;
  margin-bottom: 30px; }

.nav-item__img--second {
  margin-bottom: 28px; }

.nav-item__img--third {
  margin-top: 10px;
  margin-bottom: 23px; }

.nav-item__img--forth {
  margin-top: 5px;
  margin-bottom: 23px; }

.nav-item__img--fifth {
  margin-bottom: 28px; }

.nav-item__img--sixth {
  margin-bottom: 35px; }

@media (max-width: 768px) {
  .nav-list__wrapper {
    width: 320px;
    padding: 0;
    margin: 0 auto;
    padding-top: 5px; }
  .main__nav-list {
    width: 280px;
    height: 600px;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    border: none;
    background: none;
    box-shadow: none;
    margin-top: 30px;
    grid-template-columns: 1fr 1fr; }
  .main__nav-item {
    border: none;
    background-color: #EFF2F1;
    box-shadow: 0px 4px 5px rgba(77, 115, 189, 0.3); }
  .nav-item__img--first {
    width: 70px;
    height: 69px;
    margin-top: 18px;
    margin-bottom: 20px; }
  .nav-item__img--second {
    width: 79px;
    height: 79px;
    margin-bottom: 18px;
    margin-top: 10px; }
  .nav-item__img--third {
    width: 74px;
    height: 74px;
    margin-top: 20px;
    margin-bottom: 13px; }
  .nav-item__img--forth {
    width: 85px;
    height: 79px;
    margin-top: 12px;
    margin-bottom: 16px; }
  .nav-item__img--fifth {
    width: 79px;
    height: 79px;
    margin-bottom: 13px;
    margin-top: 15px; }
  .nav-item__img--sixth {
    width: 70px;
    height: 69px;
    margin-top: 15px;
    margin-bottom: 20px; } }

.goods {
  width: 1375px;
  padding-left: 23px;
  margin: 0 auto;
  margin-top: 100px; }

.goods__h2 {
  font-size: 45px;
  text-align: center;
  margin-bottom: 80px; }

.goods__top-icon-list {
  width: 340px;
  text-align: right; }

.goods__list, .goods__top-icon, .goods__new-icon {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: relative; }

.goods__top-icon {
  list-style: none;
  margin-bottom: -60px;
  z-index: 10;
  width: 1380px; }

.goods__new-icon {
  width: 1380px;
  list-style: none;
  margin-bottom: -53px;
  z-index: 10; }

.goods__item {
  width: 312px;
  height: 520px;
  background: #EFF2F1;
  border: 1px solid rgba(77, 115, 189, 0.6);
  box-shadow: 0px 4px 20px rgba(77, 115, 189, 0.6);
  display: grid;
  grid-template-rows: 240px 35px 64px;
  grid-template-columns: 1fr 1fr; }

.goods__image-wrapper {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  align-items: center;
  width: 100%; }

.goods__new-price--new {
  grid-column-start: 1;
  grid-column-end: 3; }

.goods__image--first {
  margin-left: 41px; }

.goods__image--second {
  margin-left: 68px; }

.goods__image--third {
  margin-left: 97px; }

.goods__image--forth {
  margin-left: -15px; }

.goods__name {
  margin: 0;
  padding: 0;
  grid-column-start: 1;
  grid-column-end: 3; }

.goods__article, .goods__instock, .goods__old-price {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #313131;
  margin-left: 25px; }

.goods__name {
  text-align: center;
  font-weight: 500;
  font-size: 20px; }

.goods__new-price {
  margin-left: 18px;
  width: 126px;
  height: 60px;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  padding-top: 13px;
  text-align: center;
  border: 1.5px solid #4D73BD; }

.goods__old-price {
  white-space: pre;
  padding-top: 10px; }

.goods__compare {
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  margin-top: 9px; }

.goods__button {
  margin-left: 10px;
  padding: 15px 15px 15px 15px;
  background-color: #4D73BD;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  color: #F1F1F1;
  text-decoration: none; }

.goods__link-wrapper {
  text-align: center;
  margin: 58px 0 60px 0; }

@media (max-width: 768px) {
  .goods {
    width: 320px;
    padding-left: 0;
    margin-top: 45px; }
  .goods__h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px; }
  .goods__top-icon {
    margin-left: 10px;
    width: 20px; }
  .goods__new-icon {
    margin-left: 10px;
    width: 20px; }
  .goods__top-icon-list {
    height: 26px;
    margin-bottom: 400px;
    width: 300px;
    margin-top: -20px; }
  .goods__list, .goods__top-icon, .goods__new-icon {
    flex-direction: column;
    position: relative; }
  .goods__list {
    margin-top: -1635px;
    height: 1600px; }
  .goods__item {
    width: 280px;
    height: 380px;
    border: none;
    box-shadow: 0px 4px 5px rgba(77, 115, 189, 0.3);
    display: grid;
    grid-template-rows: 170px 30px 60px 60px;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto; }
  .goods__image--first {
    margin-left: 65px;
    width: 140px;
    height: 119px; }
  .goods__image--second {
    width: 136px;
    height: 141px; }
  .goods__image--third {
    width: 85px;
    height: 139px; }
  .goods__image--forth {
    width: 240px;
    height: 110px;
    margin-left: 30px; }
  .goods__instock {
    margin-left: 10px; }
  .goods__new-price {
    margin-left: 25px;
    width: 100px;
    height: 40px;
    font-size: 25px;
    line-height: 13px; }
  .goods__old-price {
    padding-top: 3px; }
  .goods__compare {
    margin-top: 5px; }
  .goods__button {
    margin-left: 20px;
    padding: 5px 10px 5px 10px;
    background-color: #4D73BD;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #F1F1F1;
    text-decoration: none; }
  .goods__link-wrapper {
    margin: 38px 0 40px 0; } }

.advantages {
  width: 1440px;
  padding-right: 213.5px;
  padding-left: 213.5px;
  margin: 0 auto;
  margin-bottom: 75px; }

.advantages__circle-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.advantages__circle {
  width: 164px;
  height: 164px;
  border-radius: 50%;
  background: #AAC3F4;
  text-align: center;
  line-height: 164px;
  font-size: 60px; }

.advantages__circle--second {
  background: #87ACF3; }

.advantages__circle--third {
  background: #6491E9; }

.advantages__circle--forth {
  background: #4D73BD; }

.advantages__line {
  display: block;
  width: 119px;
  height: 1.5px;
  background-color: rgba(77, 115, 189, 0.6); }

.advantages__line--mobile {
  display: none; }

.advantages__text-wrapper {
  margin-left: 20px;
  text-align: center;
  margin-top: 43px;
  display: flex;
  justify-content: space-between; }
  .advantages__text-wrapper :nth-child(3) {
    margin-right: -35px; }

@media (max-width: 768px) {
  .advantages {
    width: 280px;
    height: 680px;
    padding: 0;
    margin-bottom: 25px; }
  .advantages__circle-wrapper {
    display: flex;
    flex-direction: column; }
  .advantages__circle {
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 40px;
    margin-bottom: 70px; }
  .advantages__line {
    z-index: 1;
    margin-top: -35px;
    margin-bottom: 35px;
    display: block;
    transform: rotate(90deg);
    width: 70px; }
  .advantages__line--mobile {
    display: block;
    width: 35px;
    margin-top: -70px; }
  .advantages__text-wrapper {
    margin-left: 0;
    height: 555px;
    margin-top: -535px;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .advantages__text-wrapper p {
      background-color: #E5E5E5; }
    .advantages__text-wrapper :nth-child(3) {
      margin-right: 0; } }

.footer {
  width: 100%;
  background-color: #4D73BD; }

.footer__wrapper {
  padding-left: 65px;
  padding-top: 40px;
  width: 1440px;
  height: 306px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #4D73BD; }

.footer__list {
  list-style: none; }

.footer__adress-item {
  font-size: 18px;
  line-height: 21px; }

.footer__adress-item--header, .footer__catalog-item--header,
.footer__nav-item--header {
  font-weight: 500;
  font-size: 23px;
  line-height: 27px;
  margin-bottom: 36px; }

.footer__link {
  font-size: 18px;
  line-height: 30px;
  text-decoration: none; }

.footer__email {
  width: 550px; }

.footer__email-description {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 26px; }

.footer__input {
  width: 470px;
  height: 52px;
  background-image: url("../img/email.png");
  background-repeat: no-repeat;
  background-position-x: 402px;
  background-position-y: -8px;
  background-color: #dfe5e5; }

.footer__input-email {
  width: 402px;
  height: 38px;
  background-color: #dfe5e3;
  border: none;
  text-align: center;
  font-size: 15px;
  line-height: 18px;
  color: #313131; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #313131; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #313131; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #313131; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #313131; }

.footer__input-line {
  display: block;
  width: 393px;
  height: 1px;
  background-color: #4D73BD;
  margin-left: 6px; }

@media (max-width: 768px) {
  .footer {
    height: 550px;
    background-color: #4D73BD; }
  .footer__wrapper {
    padding-left: 0px;
    padding-top: 20px;
    width: 320px;
    height: 306px;
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .footer__wrapper :last-child {
      order: -1; }
  .footer__email {
    width: 320px;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 20px; }
  .footer__input {
    width: 320px;
    background-position-x: 260px; }
  .footer__input-email {
    width: 280px; }
  .footer__input-line {
    width: 260px; }
  .footer__email-description {
    width: 320px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px; }
  .footer__adress-list {
    padding-bottom: 30px;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: row-reverse;
    width: 300px;
    margin: 0 auto;
    justify-content: space-around; }
  .footer__catalog-list, .footer__nav-list {
    text-align: center; }
  .footer__adress-item--header, .footer__catalog-item--header,
  .footer__nav-item--header {
    margin-bottom: 14px; } }

.header__background--catalog {
  height: 95px; }

.header--catalog {
  margin-bottom: 75px; }

.catalog-nav {
  width: 1440px;
  padding-left: 110px;
  padding-right: 110px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 80px; }

.catalog__h2--mobile {
  display: none; }

.catalog__icon-wrapper {
  width: 1440px;
  padding-left: 110px;
  padding-right: 110px;
  margin: 0 auto;
  margin-bottom: -80px;
  z-index: 10;
  position: relative; }

.catalog__card-icon {
  margin-left: 540px; }

.catalog__card {
  z-index: 1;
  width: 1440px;
  padding-left: 110px;
  padding-right: 110px;
  margin: 0 auto;
  margin-bottom: 77px;
  display: flex;
  justify-content: space-between; }

.catalog-nav__link--active {
  text-decoration: none; }

.catalog__images {
  width: 621px;
  height: 604px;
  background: #EFF2F1;
  border: 1px solid rgba(77, 115, 189, 0.6);
  box-shadow: 0px 4px 20px rgba(77, 115, 189, 0.6);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center; }

.catalog__image--first {
  grid-column-start: 1;
  grid-column-end: 4; }

.catalog__description {
  width: 514px;
  height: 604px; }

.catalog__h2 {
  font-size: 45px;
  line-height: 53px;
  text-align: center;
  margin-bottom: 15px; }

.catalog__properties-header {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 15px; }

.catalog__properties-list {
  list-style: none; }

.catalog__properties-item {
  font-weight: 300;
  font-size: 25px;
  line-height: 29px; }

.catalog__buttons {
  margin-top: 50px;
  width: 514px;
  display: grid;
  grid-template-columns: 1fr 1fr; }

.product__button {
  width: 197px;
  height: 95px;
  background-color: #4D73BD;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: #F1F1F1;
  border: none; }

.product__price {
  width: 200px;
  height: 95px;
  font-weight: 500;
  font-size: 28px;
  line-height: 69px;
  padding-top: 13px;
  text-align: center;
  border: 1.5px solid #4D73BD;
  margin-left: auto; }

.product__old-price {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: right;
  text-decoration: line-through;
  padding-right: 20px;
  font-size: 25px;
  padding-top: 10px;
  height: 50px;
  font-weight: 300; }

.rating-area {
  padding-top: 15px;
  overflow: hidden;
  width: 180px; }

.rating-area:not(:checked) > input {
  display: none; }

.rating-area:not(:checked) > label {
  float: right;
  width: 36px;
  padding: 0;
  cursor: pointer;
  font-size: 30px;
  line-height: 30px;
  color: lightgrey; }

.rating-area:not(:checked) > label:before {
  content: '★'; }

.rating-area > input:checked ~ label {
  color: #EAC543; }

.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
  color: #EAC543; }

.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
  color: #EAC543; }

.rate-area > label:active {
  position: relative; }

.catalog__raiting {
  padding-top: 15px;
  font-weight: 300;
  font-size: 25px;
  line-height: 29px;
  text-decoration-line: underline; }

.catalog__contacts {
  width: 1440px;
  padding-left: 110px;
  padding-right: 110px;
  margin: 0 auto; }

.catalog__links-list {
  width: 720px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 30px;
  line-height: 30px; }

.catalog__textarea {
  margin-top: 80px;
  margin-bottom: 120px;
  min-width: 1220px;
  max-width: 1220px;
  min-height: 200px;
  max-height: 400px;
  box-shadow: 0px 4px 20px rgba(77, 115, 189, 0.6);
  border: 1px solid rgba(77, 115, 189, 0.6);
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  padding: 31px 25px 31px 25px; }

@media (max-width: 768px) {
  .catalog-nav {
    display: none; }
  .catalog__h2--mobile {
    display: block;
    text-align: center;
    margin-top: 35px;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 30px; }
  .catalog__icon-wrapper {
    width: 280px;
    padding-left: 0;
    padding-right: 0;
    margin-top: -10px;
    margin-bottom: -44px; }
  .catalog__card-icon {
    margin-left: 232px;
    width: 58px;
    height: 48px; }
  .catalog__card {
    z-index: 1;
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
    display: block; }
  .catalog__images {
    width: 280px;
    height: 280px;
    border: 1px solid rgba(77, 115, 189, 0.3);
    box-shadow: 0px 4px 5px rgba(77, 115, 189, 0.3); }
  .catalog__image--first {
    width: 219px;
    height: 168px;
    margin-left: 24px; }
  .catalog__image--second,
  .catalog__image--third, .catalog__h2 {
    display: none; }
  .catalog__description {
    width: 280px;
    height: 344px;
    margin-bottom: 0; }
  .catalog__properties-header {
    margin-top: 23px;
    font-size: 22px;
    line-height: 22px; }
  .catalog__properties-item {
    font-size: 18px;
    line-height: 25px; }
  .catalog__buttons {
    margin-top: 20px;
    width: 280px;
    grid-template-columns: 120px 120px;
    grid-column-gap: 40px; }
  .product__button {
    width: 120px;
    height: 55px;
    font-size: 26px;
    line-height: 33px; }
  .product__price {
    width: 120px;
    height: 55px;
    font-size: 26px;
    line-height: 30px;
    padding-top: 13px;
    margin-left: 0px; }
  .product__old-price {
    padding-right: 0px;
    font-size: 20px;
    padding-top: 10px;
    height: 40px; }
  .rating-area {
    padding-top: 15px;
    overflow: hidden;
    width: 125px; }
  .rating-area:not(:checked) > label {
    width: 25px;
    font-size: 25px;
    line-height: 25px; }
  .catalog__raiting {
    padding-top: 7px;
    font-size: 18px;
    line-height: 21px; }
  .catalog__contacts {
    width: 280px;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px; }
  .catalog__links-list {
    width: 280px;
    flex-direction: column;
    font-size: 20px;
    line-height: 30px; }
  .catalog__textarea {
    margin-top: 20px;
    margin-bottom: 30px;
    min-width: 280px;
    max-width: 280px;
    min-height: 100px;
    max-height: 300px;
    box-shadow: 0px 4px 20px rgba(77, 115, 189, 0.3);
    border: 1px solid rgba(77, 115, 189, 0.3);
    font-size: 18px;
    line-height: 21px;
    padding: 10px 8px 10px 8px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-weight: 400;
  color: #313131; }

.page {
  background-color: #E5E5E5; }
