.goods{
  width: 1375px;
  padding-left: 23px;
  margin: 0 auto;
  margin-top: 100px;
}

.goods__h2{
  font-size: 45px;
  text-align: center;
  margin-bottom: 80px;
}

.goods__top-icon-list{
  width: 340px;
  text-align: right;
}

.goods__list, .goods__top-icon, .goods__new-icon{
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: relative;
}

.goods__top-icon{
  list-style: none;
  margin-bottom: -60px;
  z-index: 10;
  width: 1380px;
}

.goods__new-icon{
  width: 1380px;
  list-style: none;
  margin-bottom: -53px;
  z-index: 10;
}

.goods__item{
  width: 312px;
  height: 520px;
  background: #EFF2F1;
  border: 1px solid rgba(77, 115, 189, 0.6);
  box-shadow: 0px 4px 20px rgba(77, 115, 189, 0.6);
  display: grid;
  grid-template-rows: 240px 35px 64px;
  grid-template-columns: 1fr 1fr;
}

.goods__image-wrapper{
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  align-items: center;
  width: 100%;
}

.goods__new-price--new{
  grid-column-start: 1;
  grid-column-end: 3;
}
.goods__image--first{
  margin-left: 41px;
}

.goods__image--second{
  margin-left: 68px;
}

.goods__image--third{
  margin-left: 97px;
}

.goods__image--forth{
  margin-left: -15px;
}

.goods__name{
  margin: 0;
  padding: 0;
  grid-column-start: 1;
  grid-column-end: 3;
}

.goods__article, .goods__instock, .goods__old-price{
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #313131;
  margin-left: 25px;
}

.goods__name{
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

.goods__new-price{
  margin-left: 18px;
  width: 126px;
  height: 60px;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  padding-top: 13px;
  text-align: center;
  border: 1.5px solid #4D73BD;
}

.goods__old-price{
  white-space: pre;
  padding-top: 10px;
}

.goods__compare{
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  margin-top: 9px;
}

.goods__button{
  margin-left: 10px;
  padding: 15px 15px 15px 15px;
  background-color: #4D73BD;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  color: #F1F1F1;
  text-decoration: none;
}

.goods__link-wrapper{
  text-align: center;
  margin: 58px 0 60px 0;
}

@media (max-width: 768px){
  .goods{
    width: 320px;
    padding-left: 0;
    margin-top: 45px;
  }

  .goods__h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
  }

  .goods__top-icon{
    margin-left: 10px;
    width: 20px;
  }

  .goods__new-icon{
    margin-left: 10px;
    width: 20px;

  }

  .goods__top-icon-list{
    height: 26px;
    margin-bottom: 400px;
    width: 300px;
    margin-top: -20px;
  }

  .goods__list, .goods__top-icon, .goods__new-icon{
     flex-direction: column;
     position: relative;
   }

   .goods__list{
     margin-top: -1635px;
     height: 1600px;
   }

   .goods__item{
    width: 280px;
    height: 380px;
    border: none;
    box-shadow: 0px 4px 5px rgba(77, 115, 189, 0.3);
    display: grid;
    grid-template-rows: 170px 30px 60px 60px;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }

  .goods__image--first{
    margin-left: 65px;
    width: 140px;
    height: 119px;
  }

  .goods__image--second{
    width: 136px;
    height: 141px;
  }

  .goods__image--third{
    width: 85px;
    height: 139px;
  }

  .goods__image--forth{
    width: 240px;
    height: 110px;
    margin-left: 30px;
  }

  .goods__instock{
    margin-left: 10px;
  }

  .goods__new-price{
    margin-left: 25px;
    width: 100px;
    height: 40px;
    font-size: 25px;
    line-height: 13px;
  }

  .goods__old-price{
    padding-top: 3px;
  }

  .goods__compare{
    margin-top: 5px;
  }

  .goods__button{
    margin-left: 20px;
    padding: 5px 10px 5px 10px;
    background-color: #4D73BD;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #F1F1F1;
    text-decoration: none;
  }


.goods__link-wrapper{
  margin: 38px 0 40px 0;
}

}
